.event-header {
  background: linear-gradient(180deg, rgba(243, 253, 243, 0.00) 0%, #F3FDF3 100%);
}

.events-items {
  margin-top: 40px;
  gap: 30px;
  flex-direction: column;
}

.event-header .content {
  padding: 60px 0;
}

.events-items .event-item .text-content h2 {
  color: var(--colo-secondary);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.events-items .event-item {
  flex: 1;
  max-width: 100%;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.events-items .event-item .image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition: all .3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  border: 2px solid #FFF;
  box-shadow: 10px 10px 40px 0px rgba(5, 48, 6, 0.08);
}

.events-items .event-item:hover .image {
  height: 100%;
  background-position: center;
  transition: all .3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.events-items .event-item .event-item-content {
  position: relative;
  height: 296px;
}

.events-items .event-item .text-content {
  position: absolute;
  bottom: 0;
  z-index: 600;
  width: 100%;
}

.events-items .event-item:hover .text-content h2 {
  color: #FFF;
}

.events-items .event-item:hover .text-content {
  color: #fff !important;
  padding: 0px 20px;
}

.events-items .event-item .text-content p {
  margin: 0;
}

.events-items .event-item:hover .event-item-content::after {
  content: "";
  position: absolute;
  z-index: 500;
  width: 100%;
  height: 100%;
  border: 2px solid #FFF;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.00) 42.7%, #181818 100%);
  box-shadow: 2.8048px 4.67467px 46.74672px -7.47948px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.events-items .event-item:hover .text-content {
  bottom: 16px;
}

.event-gallery-pagination {
  margin-bottom: 50px;
}

@media (min-width: 480px) {
  .events-items {
    flex-direction: row;
  }

  .events-items .event-item {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
  }
}

@media (min-width: 990px) {
  .events-items {
    margin-top: 60px;
  }

  .events-items .event-item {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
  }
}

@media screen and (min-width: 1200px) {
  .events-items .event-item {
    flex: 0 0 calc(25% - 23px);
    max-width: calc(25% - 23px);
  }

  .event-header .content {
    padding: 100px 0;
  }
}