.student-registration-form .form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.student-registration-form .form-group {
  margin-bottom: 10px;
}

.student-registration-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #12191d;
  font-weight: 500;
}

.student-registration-form input[type="text"],
.student-registration-form select, button,
.student-registration-form input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
}

.student-registration-form input[type="number"],
select, button,
.student-registration-form input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
}

select {
  cursor: pointer;
}

.student-registration-form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.student-registration-form button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Make the form mobile responsive */
@media screen and (max-width: 600px) {
  .student-registration-form .form-container {
    max-width: 100%;
    padding: 10px;
  }

  .student-registration-form input[type="text"], select, button, .student-registration-form input[type="file"] {
    font-size: 14px;
  }

  .student-registration-form button[type="submit"] {
    font-size: 16px;
  }
}

.student-registration-form .form-control:focus {
  background-color: #f5f5f5;
}