a {
	text-decoration: none;
}


.upload-aria {
	border-radius: 10px;
	border: 1px dashed rgba(102, 105, 123, 0.50);
	background: var(--neutral-1, #FFF);
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	margin-top: 15px;
  }
  
  .upload-aria label {
	opacity: 0.8;
	color: var(--p-1, #19891C);
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
  }