.certificate-page.rainbow-banner {
    position: relative;
    overflow: hidden;
    padding-bottom: 175px;
    min-height: 80vh;
    margin-bottom: -100px;
    padding-top: 50px;
    text-align: center;

  }
  .certificate-page.rainbow-banner h4{
    margin-bottom: 40px;
  }
.certificate-page.rainbow-banner  .container{
    max-width: 750px;
    margin: 0 auto;
  }
  
  .certificate-page  .icon-wrapper {
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-bottom: 20px;
  }
.certificate-page.rainbow-banner {
    background: linear-gradient(180deg, rgba(243, 253, 243, 0.00) 0%, #F3FDF3 100%);
  }