.banner-add h3 {
  font-size: 22px;
}

.sidebar-add-top {
  margin-top: 40px;
}

.payment-method h3 {
  font-size: 22px;
  padding-bottom: 10px;
}

.payment-method {
  margin-top: 35px;
  border-radius: 10px;
  border: 1px solid #EAF0F5;
  background: #FFF;
  box-shadow: 2.8048px 4.67467px 46.74672px -7.47948px rgba(0, 0, 0, 0.07);
  padding: 20px;
}

.banner-add {
  border-radius: 10px;
  background: #fff;
  box-shadow: 2.8048px 4.67467px 46.74672px -7.47948px rgba(0, 0, 0, 0.07);
  padding: 20px 15px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.sidebar-add-img {
  display: flex;
  padding: 10px;
  width: 250px;
  height: 250px;
  border-radius: 292px;
  background: #F8FAFC;
  position: absolute;
  right: -50px;
  top: -40px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .sidebar-add-img {
    width: 210px;
    height: 210px;
    top: -20px;
  }
}

.banner-add h3 {
  margin: 20px 20px 25px 0;
}

.sidebar-add-img img {
  width: 131px;
  height: 132px;
}

@media screen and (max-width: 990px) {
  .banner-add>div {
    max-width: 50%;
  }
}